<div class = "box">
  <h3>投稿する</h3>
    <%= form_for (@tweet) do |f| %>
      <br><%= f.file_field :image %><br><br>
          <%= f.text_field :text, placeholder: "text", autofocus: true, maxlength: "20" %>
          <input type="submit" class="send-btn">
    <% end %>
</div>  
 