
* {
  box-sizing: border-box;
  font-family: Monaco;
 
}
a:link, a:visited, a:hover, a:active {
  color: black;
}

li {
  list-style: none;
}
// /application.html--------------------------------
 .container {
   max-width: 1200px ;
	 margin: 0 auto ;
	 padding: 0 ;
}

body {
  	margin: 0 ;	
	  padding: 0 ;			
	  background-color: #f4a460;
}

.site-header {
    background: #f5f5f5;
    padding: 0px 250px;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 5;
    line-height: auto;
    top: 0;
}

h1 a {
  font-family: Monaco ;
  text-decoration: none;
  float: left;
  height: auto;
  display     : inline-block;
  font-weight : bold;
  color       : #ffffff;
  text-shadow:  2px  2px 10px #777 ,
               -2px  2px 10px #777 ,
                2px -2px 10px #777 ,
               -2px -2px 10px #777;
}
a.font-black:visited {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
 border-bottom: 2px solid black;
    }

nav ul {
  float: right;
  line-height: 1 ;
}

nav ul li {
  margin-left: 30px;
  float: right;
  padding: 10px;
}

nav a {
  color: red;
}

.main {
  width: 1200px ;
	margin: 30px auto ;	
	padding: 0 ;
  position: absolute;
  top: 90px;
  z-index: 1;
}
.site_header,.h_inner,.cf,.navToggle,.g_nav,.inner,.sp_logo,.logo,.overlay {
  display: none;
}

// ///tweet/index.html--------------------------------
.grid-top {
  display: grid;
  grid-template:
    "... ...... ...... ...... ..." 10px
    "... ......  top   ...... ..." auto
    "... ...... ...... ...... ..." 20px
    "... bottom bottom bottom ..." 
    /auto  300px  minmax(350px,400px)  300px  auto;
}
.topp {
  grid-area: top;
}

.bottomm {
  grid-area: bottom;
}

.user-search {
  width: 320px ;
  max-width: 300px;
  height: 100px;
  background-color: whitesmoke;
  margin: 0 auto;
  height: auto;
  overflow-y: scroll;
  max-height: 200px;
  padding: 10px;  
}

.user-search ul {
  padding: 0;
}

.user-search li {
  text-align: left;
  background-image: linear-gradient(180deg,rgba(204,204,204,0) 0%,rgba(204,204,204,0) 98.5%,rgba(100,100,100,100) 100%);
  background-repeat: repeat-y;
  line-height: 2.4;
}

.tweet-item {
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  background-color: white;
  margin: 10px ;
	float: left;
  height: 400px;
  max-width: 300px;
  border-radius: 2%;
}

.tweet-header {
    padding: 0px 10px;
    height: 50px;
    line-height: auto;
}

.user-name {
  float: left;
  height: auto;
  margin-top: 15px;
}

.more_list {
  float: right;
}

.more_list li {
  float: right;
  padding: 0 5px;
}

.image-box {
  width: 300px;
  height: 300px;
  position: relative;
}

.image-box img {
 	position: absolute;
  top: 0;
}
.text-box {
  height: 50px;
  background-color: #f5f5f5;
  padding: 0 5px;
  overflow-y: scroll;
  border-radius: 2%;
}

.text-box p {
  width: 100%;
  margin: 0;
  }
// ///tweet/show.html--------------------------------

.tweet-item-show {
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  background-color: white;
	float: left;
  height: 600px;
  width: 500px;
}

.image-box-show {
  width: 500px;
  height: 500px;
  position: relative;
}

.image-box-show img {
  position: absolute;
  top: 0;
}

.tweet-show-box {
  position: relative;
}

.comments-box {
  background-color: #f5f5f5;
  position: absolute;
  right: 0;
  height: 600px;
  overflow-y: scroll;
	width: 500px;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.comment-write textarea{
  background-color: #f5f5f5;
}

.comment-view {
  background-color: #f5f5f5;
}

.comment-view p {
  background-image: linear-gradient(180deg,rgba(204,204,204,0) 0%,rgba(204,204,204,0) 98.5%,rgba(100,100,100,100) 100%);
  background-repeat: repeat-y;
  line-height: 2.4;
  padding-left: 20px;
  padding-right: 20px;

}

///like._like.html.-----------------------------------

.like-box {
  text-align: left;
}

img {
	width: 100%;
	height: 100%;/* 横幅の90% */
			/* 縦幅を自動調整 */
  }
.fas.fa-heart{
  color: #ff4500;
}   
.like_button_on {
  font-weight: bolder;
}

///tweets.destroy.html----------------------------------
.box {
   max-width: 600px;
   margin: 0 auto;
   text-align: center;
}
.box h3 {
  width: 100%;
}

///like.like.show.html0----------------------------------
.box p {
  background-image: linear-gradient(180deg,rgba(204,204,204,0) 0%,rgba(204,204,204,0) 98.5%,rgba(100,100,100,100) 100%);
  background-repeat: repeat-y;
  line-height: 2.4;
}



